# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [60]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [61]:
df = pd.read_csv('Cities_Weather_Data.csv')

df

,Nearest City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,athmallik,20.416097,84.789184,80.60,66.0,100.0,3.67
1,tiksi,82.389401,126.720441,34.23,94.0,100.0,5.53
2,tevaitoa,-17.097242,-151.266701,80.42,69.0,8.0,11.23
3,otane,-41.631874,178.602784,38.01,85.0,100.0,1.83
4,hamilton,30.250444,-70.001038,80.85,58.0,100.0,1.01
...,...,...,...,...,...,...,...
580,usinsk,68.295947,55.985057,36.25,58.0,10.0,7.00
581,pilar,-7.182993,-35.241285,82.33,76.0,93.0,6.17
582,vila franca do campo,41.761982,-20.407876,63.01,74.0,44.0,7.43
583,chermoz,58.963698,56.462133,46.51,71.0,91.0,7.23
584,road town,21.957832,-64.353047,85.95,66.0,40.0,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [63]:
locations = df[['Latitude','Longitude']]
humidity = df['Humidity (%)']
# configure gmaps
gmaps.configure(api_key=g_key)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [67]:
new_df = df[(df['Temperature (F)']>65) & (df['Temperature (F)']<=85) & (df['Cloudiness (%)']<10) & (df['Wind Speed (mph)']<10)]

In [75]:
hotel_df = new_df.copy()
hotel_df

,Nearest City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
20,pachino,34.873965,17.450407,68.04,65.0,5.0,8.81
67,crotone,37.988566,18.448697,65.30,68.0,0.0,5.59
69,pamfila,39.350864,26.607357,71.31,68.0,0.0,4.54
90,marsa matruh,29.407444,26.347006,71.80,83.0,0.0,9.22
92,khash,28.198080,62.222570,78.82,15.0,0.0,5.79
100,marica,-25.555696,-42.945465,75.90,86.0,6.0,5.55
104,mitsamiouli,-6.600893,47.352425,77.61,59.0,1.0,6.29
115,wana,31.916337,69.754926,79.59,25.0,3.0,6.73
120,cidreira,-38.508047,-42.193578,65.91,63.0,0.0,4.59
122,sao filipe,5.913571,-30.815451,73.04,79.0,1.0,9.53
199,cayenne,12.863673,-44.941131,77.09,89.0,0.0,1.99
216,ilhabela,-25.635642,-44.227304,70.30,76.0,1.0,3.87
226,faya,21.884476,17.694466,75.72,25.0,2.0,7.14
244,mansehra,34.471730,73.141822,72.28,30.0,0.0,6.51
248,grand gaube,-15.242837,61.689263,72.37,78.0,5.0,3.00
308,boueni,-14.745381,43.882969,76.98,66.0,0.0,8.30
331,monkey bay,-13.752451,35.038973,69.76,56.0,0.0,7.34
332,antalaha,-16.158488,52.450921,69.87,85.0,2.0,6.64
335,half moon bay,33.347298,-131.381105,68.22,60.0,1.0,9.40
347,kalemie,-5.104952,28.519289,70.23,78.0,3.0,1.25
358,severnyy,72.788143,66.636125,69.84,52.0,0.0,4.47
388,elko,39.573508,-116.154696,70.63,15.0,6.0,8.99
391,laguna,-30.858647,-46.103575,79.47,37.0,9.0,4.00
400,urumqi,42.109838,90.031591,77.95,21.0,0.0,5.26
410,shache,38.691154,77.066598,71.80,23.0,0.0,2.53
417,carlsbad,31.945386,-104.674414,70.48,64.0,1.0,5.99
426,farmington,37.301160,-91.052496,82.02,13.0,2.0,8.99
466,gat,27.909631,9.980233,74.07,72.0,0.0,3.24
501,khorixas,-20.519236,14.272021,67.78,31.0,0.0,8.99
531,rio grande,-32.784669,-51.626984,69.94,66.0,0.0,1.97
543,grants,35.736190,-107.878241,77.23,8.0,1.0,0.00
558,cavalcante,-13.633155,-47.619548,81.30,44.0,0.0,3.33

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [77]:
hotel_df['Hotel Name'] = ""
hotel_df.reset_index(drop=True, inplace=True)
hotel_df

,Nearest City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
0,pachino,34.873965,17.450407,68.04,65.0,5.0,8.81,
1,crotone,37.988566,18.448697,65.30,68.0,0.0,5.59,
2,pamfila,39.350864,26.607357,71.31,68.0,0.0,4.54,
3,marsa matruh,29.407444,26.347006,71.80,83.0,0.0,9.22,
4,khash,28.198080,62.222570,78.82,15.0,0.0,5.79,
5,marica,-25.555696,-42.945465,75.90,86.0,6.0,5.55,
6,mitsamiouli,-6.600893,47.352425,77.61,59.0,1.0,6.29,
7,wana,31.916337,69.754926,79.59,25.0,3.0,6.73,
8,cidreira,-38.508047,-42.193578,65.91,63.0,0.0,4.59,
9,sao filipe,5.913571,-30.815451,73.04,79.0,1.0,9.53,
10,cayenne,12.863673,-44.941131,77.09,89.0,0.0,1.99,
11,ilhabela,-25.635642,-44.227304,70.30,76.0,1.0,3.87,
12,faya,21.884476,17.694466,75.72,25.0,2.0,7.14,
13,mansehra,34.471730,73.141822,72.28,30.0,0.0,6.51,
14,grand gaube,-15.242837,61.689263,72.37,78.0,5.0,3.00,
15,boueni,-14.745381,43.882969,76.98,66.0,0.0,8.30,
16,monkey bay,-13.752451,35.038973,69.76,56.0,0.0,7.34,
17,antalaha,-16.158488,52.450921,69.87,85.0,2.0,6.64,
18,half moon bay,33.347298,-131.381105,68.22,60.0,1.0,9.40,
19,kalemie,-5.104952,28.519289,70.23,78.0,3.0,1.25,
20,severnyy,72.788143,66.636125,69.84,52.0,0.0,4.47,
21,elko,39.573508,-116.154696,70.63,15.0,6.0,8.99,
22,laguna,-30.858647,-46.103575,79.47,37.0,9.0,4.00,
23,urumqi,42.109838,90.031591,77.95,21.0,0.0,5.26,
24,shache,38.691154,77.066598,71.80,23.0,0.0,2.53,
25,carlsbad,31.945386,-104.674414,70.48,64.0,1.0,5.99,
26,farmington,37.301160,-91.052496,82.02,13.0,2.0,8.99,
27,gat,27.909631,9.980233,74.07,72.0,0.0,3.24,
28,khorixas,-20.519236,14.272021,67.78,31.0,0.0,8.99,
29,rio grande,-32.784669,-51.626984,69.94,66.0,0.0,1.97,
30,grants,35.736190,-107.878241,77.23,8.0,1.0,0.00,
31,cavalcante,-13.633155,-47.619548,81.30,44.0,0.0,3.33,

In [78]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {
    "type": "lodging",
    "radius": 5000, 
    "key": g_key
}

for index, row in hotel_df.iterrows():
    
    city = row['Nearest City']
    lat = row['Latitude']
    lng = row['Longitude']
    params['location']= f"{lat},{lng}"
    response = requests.get(url, params=params).json()
    
    
    try: 
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
    
    except (KeyError, IndexError):
        print(f"Missing Hotel for City {index+1}: {city}...skipping")

Missing Hotel for City 1: pachino...skipping
Missing Hotel for City 2: crotone...skipping
Missing Hotel for City 4: marsa matruh...skipping
Missing Hotel for City 5: khash...skipping
Missing Hotel for City 6: marica...skipping
Missing Hotel for City 7: mitsamiouli...skipping
Missing Hotel for City 8: wana...skipping
Missing Hotel for City 9: cidreira...skipping
Missing Hotel for City 10: sao filipe...skipping
Missing Hotel for City 11: cayenne...skipping
Missing Hotel for City 12: ilhabela...skipping
Missing Hotel for City 13: faya...skipping
Missing Hotel for City 15: grand gaube...skipping
Missing Hotel for City 16: boueni...skipping
Missing Hotel for City 18: antalaha...skipping
Missing Hotel for City 19: half moon bay...skipping
Missing Hotel for City 20: kalemie...skipping
Missing Hotel for City 21: severnyy...skipping
Missing Hotel for City 22: elko...skipping
Missing Hotel for City 23: laguna...skipping
Missing Hotel for City 24: urumqi...skipping
Missing Hotel for City 25: shache...skipping
Missing Hotel for City 26: carlsbad...skipping
Missing Hotel for City 27: farmington...skipping
Missing Hotel for City 28: gat...skipping
Missing Hotel for City 29: khorixas...skipping
Missing Hotel for City 30: rio grande...skipping
Missing Hotel for City 31: grants...skipping
Missing Hotel for City 32: cavalcante...skipping

In [79]:
hotel_df

,Nearest City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
0,pachino,34.873965,17.450407,68.04,65.0,5.0,8.81,
1,crotone,37.988566,18.448697,65.30,68.0,0.0,5.59,
2,pamfila,39.350864,26.607357,71.31,68.0,0.0,4.54,Ortunc Club
3,marsa matruh,29.407444,26.347006,71.80,83.0,0.0,9.22,
4,khash,28.198080,62.222570,78.82,15.0,0.0,5.79,
5,marica,-25.555696,-42.945465,75.90,86.0,6.0,5.55,
6,mitsamiouli,-6.600893,47.352425,77.61,59.0,1.0,6.29,
7,wana,31.916337,69.754926,79.59,25.0,3.0,6.73,
8,cidreira,-38.508047,-42.193578,65.91,63.0,0.0,4.59,
9,sao filipe,5.913571,-30.815451,73.04,79.0,1.0,9.53,
10,cayenne,12.863673,-44.941131,77.09,89.0,0.0,1.99,
11,ilhabela,-25.635642,-44.227304,70.30,76.0,1.0,3.87,
12,faya,21.884476,17.694466,75.72,25.0,2.0,7.14,
13,mansehra,34.471730,73.141822,72.28,30.0,0.0,6.51,Treda afzalabad
14,grand gaube,-15.242837,61.689263,72.37,78.0,5.0,3.00,
15,boueni,-14.745381,43.882969,76.98,66.0,0.0,8.30,
16,monkey bay,-13.752451,35.038973,69.76,56.0,0.0,7.34,Yakweyakwe REST HOUSE
17,antalaha,-16.158488,52.450921,69.87,85.0,2.0,6.64,
18,half moon bay,33.347298,-131.381105,68.22,60.0,1.0,9.40,
19,kalemie,-5.104952,28.519289,70.23,78.0,3.0,1.25,
20,severnyy,72.788143,66.636125,69.84,52.0,0.0,4.47,
21,elko,39.573508,-116.154696,70.63,15.0,6.0,8.99,
22,laguna,-30.858647,-46.103575,79.47,37.0,9.0,4.00,
23,urumqi,42.109838,90.031591,77.95,21.0,0.0,5.26,
24,shache,38.691154,77.066598,71.80,23.0,0.0,2.53,
25,carlsbad,31.945386,-104.674414,70.48,64.0,1.0,5.99,
26,farmington,37.301160,-91.052496,82.02,13.0,2.0,8.99,
27,gat,27.909631,9.980233,74.07,72.0,0.0,3.24,
28,khorixas,-20.519236,14.272021,67.78,31.0,0.0,8.99,
29,rio grande,-32.784669,-51.626984,69.94,66.0,0.0,1.97,
30,grants,35.736190,-107.878241,77.23,8.0,1.0,0.00,
31,cavalcante,-13.633155,-47.619548,81.30,44.0,0.0,3.33,

In [80]:
hotel_df[(hotel_df['Hotel Name']!="") & (hotel_df['Temperature (F)']>60) & (hotel_df['Temperature (F)']<80) ]

,Nearest City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
2,pamfila,39.350864,26.607357,71.31,68.0,0.0,4.54,Ortunc Club
13,mansehra,34.471730,73.141822,72.28,30.0,0.0,6.51,Treda afzalabad
16,monkey bay,-13.752451,35.038973,69.76,56.0,0.0,7.34,Yakweyakwe REST HOUSE

In [81]:
perfect_list = hotel_df[(hotel_df['Hotel Name']!="") & (hotel_df['Temperature (F)']>60) & (hotel_df['Temperature (F)']<80) ]

In [84]:
perfect_list = perfect_list.copy()
perfect_list

,City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
2,pamfila,39.350864,26.607357,71.31,68.0,0.0,4.54,Ortunc Club
13,mansehra,34.471730,73.141822,72.28,30.0,0.0,6.51,Treda afzalabad
16,monkey bay,-13.752451,35.038973,69.76,56.0,0.0,7.34,Yakweyakwe REST HOUSE

In [85]:
perfect_list.rename(columns={'Nearest City': 'City'}, inplace=True)
perfect_list

,City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
2,pamfila,39.350864,26.607357,71.31,68.0,0.0,4.54,Ortunc Club
13,mansehra,34.471730,73.141822,72.28,30.0,0.0,6.51,Treda afzalabad
16,monkey bay,-13.752451,35.038973,69.76,56.0,0.0,7.34,Yakweyakwe REST HOUSE

In [86]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in perfect_list.iterrows()]
locations = perfect_list[["Latitude", "Longitude"]]

In [87]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))