# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd
import json
import requests
from api_keys import weather_api_key
import numpy as np
from citipy import citipy
import random

## Generate Cities List

In [2]:
city = citipy.nearest_city(22.99, 120.21)

city

city.city_name

'tainan'

In [3]:
# random_lat = random.uniform(-90,90)
random_lat = np.random.uniform(-90,90, size=(550))
random_lng = np.random.uniform(-180,180, size=(550))

In [4]:
len(random_lng)
len(random_lat)

550

In [5]:
cities_df = pd.DataFrame({'Lat':random_lat, 'Lng': random_lng})
cities_df

           Lat         Lng
0   -69.119542  120.110183
1     5.968340   62.897038
2    18.387935   -3.254309
3   -44.099166  -86.486927
4    48.935810 -138.038425
..         ...         ...
545  -2.675589   -1.997691
546  70.116224  -21.693311
547 -83.746511  161.245795
548 -20.302846  178.178519
549  89.882182 -129.800886

[550 rows x 2 columns]

In [6]:
cities_df['Nearest City'] = ""
cities_df

           Lat         Lng Nearest City
0   -69.119542  120.110183
1     5.968340   62.897038
2    18.387935   -3.254309
3   -44.099166  -86.486927
4    48.935810 -138.038425
..         ...         ...          ...
545  -2.675589   -1.997691
546  70.116224  -21.693311
547 -83.746511  161.245795
548 -20.302846  178.178519
549  89.882182 -129.800886

[550 rows x 3 columns]

In [7]:
for index, row in cities_df.iterrows():
    nearest_city = citipy.nearest_city(row['Lat'], row['Lng']).city_name
    cities_df.loc[index, 'Nearest City'] = nearest_city
#     print(f"Retrieving Results for Index {index}: {nearest_city}.")

In [8]:
cities_df

           Lat         Lng      Nearest City
0   -69.119542  120.110183            albany
1     5.968340   62.897038         ugoofaaru
2    18.387935   -3.254309          araouane
3   -44.099166  -86.486927            castro
4    48.935810 -138.038425             sitka
..         ...         ...               ...
545  -2.675589   -1.997691              axim
546  70.116224  -21.693311  illoqqortoormiut
547 -83.746511  161.245795             bluff
548 -20.302846  178.178519           isangel
549  89.882182 -129.800886       tuktoyaktuk

[550 rows x 3 columns]

In [11]:
cities_df['Temperature'] = ""
cities_df

           Lat         Lng      Nearest City Temperature
0   -69.119542  120.110183            albany
1     5.968340   62.897038         ugoofaaru
2    18.387935   -3.254309          araouane
3   -44.099166  -86.486927            castro
4    48.935810 -138.038425             sitka
..         ...         ...               ...         ...
545  -2.675589   -1.997691              axim
546  70.116224  -21.693311  illoqqortoormiut
547 -83.746511  161.245795             bluff
548 -20.302846  178.178519           isangel
549  89.882182 -129.800886       tuktoyaktuk

[550 rows x 4 columns]

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [9]:
#  Get the indices of cities that have humidity over 100%.

In [10]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression