# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd
import json
import requests
from api_keys import weather_api_key
import numpy as np
from citipy import citipy
import random

## Generate Cities List

In [2]:
city = citipy.nearest_city(22.99, 120.21)

city

city.city_name

'tainan'

In [3]:
range(-5, 5)

range(-5, 5)

In [4]:
lat_list = []
for i in range(0,5):
    r=np.random.randint(0,5)
    if r not in lat_list: lat_list.append(r)
        
lat_list

[0, 1, 2, 4]

In [5]:
random_lat = np.random.uniform(-90,90, size=(550))
random_lng = np.random.uniform(-180,180, size=(550))

In [6]:
# random_lat = np.random.choice((-90,90), 550, replace=False)
# random_lng = np.random.choice((-180,180), 550, replace=False)

In [7]:

# print(random_lat)
# print(random_lng)

In [8]:
cities_df = pd.DataFrame({'Lat':random_lat, 'Lng': random_lng})
cities_df

           Lat         Lng
0   -24.578000  142.601443
1    19.446594 -158.168418
2   -43.528448   25.389972
3    13.503747   36.253929
4   -75.605598   25.184647
..         ...         ...
545 -28.928289 -102.223841
546  52.115525   86.062276
547 -38.868800 -104.032998
548 -20.351985  155.388321
549 -17.408570  -56.198094

[550 rows x 2 columns]

In [9]:
cities_df['Nearest City'] = ""
cities_df

           Lat         Lng Nearest City
0   -24.578000  142.601443
1    19.446594 -158.168418
2   -43.528448   25.389972
3    13.503747   36.253929
4   -75.605598   25.184647
..         ...         ...          ...
545 -28.928289 -102.223841
546  52.115525   86.062276
547 -38.868800 -104.032998
548 -20.351985  155.388321
549 -17.408570  -56.198094

[550 rows x 3 columns]

In [10]:
for index, row in cities_df.iterrows():
    nearest_city = citipy.nearest_city(row['Lat'], row['Lng']).city_name
    cities_df.loc[index, 'Nearest City'] = nearest_city
#     print(f"Retrieving Results for Index {index}: {nearest_city}.")

In [11]:
cities_df

           Lat         Lng      Nearest City
0   -24.578000  142.601443         mount isa
1    19.446594 -158.168418         ewa beach
2   -43.528448   25.389972      kruisfontein
3    13.503747   36.253929              doka
4   -75.605598   25.184647        bredasdorp
..         ...         ...               ...
545 -28.928289 -102.223841              lebu
546  52.115525   86.062276             mayma
547 -38.868800 -104.032998             ancud
548 -20.351985  155.388321           yeppoon
549 -17.408570  -56.198094  barao de melgaco

[550 rows x 3 columns]

In [12]:
url = "http://api.openweathermap.org/data/2.5/weather?q="

units = 'metric'
query_url = f"{url}{cities_df['Nearest City'][0]}&appid={weather_api_key}&units={units}"
query_url

'http://api.openweathermap.org/data/2.5/weather?q=mount isa&appid=2c92b09d89c61f6ff68de0360c325a13&units=metric'

In [13]:
from pprint import pprint
response = requests.get(query_url).json()
pprint(response)

{'base': 'stations',
 'clouds': {'all': 21},
 'cod': 200,
 'coord': {'lat': -20.7333, 'lon': 139.5},
 'dt': 1621889979,
 'id': 2065594,
 'main': {'feels_like': 14.16,
          'humidity': 67,
          'pressure': 1019,
          'temp': 14.87,
          'temp_max': 14.87,
          'temp_min': 14.87},
 'name': 'Mount Isa',
 'sys': {'country': 'AU',
         'id': 9495,
         'sunrise': 1621890511,
         'sunset': 1621930178,
         'type': 1},
 'timezone': 36000,
 'visibility': 10000,
 'weather': [{'description': 'few clouds',
              'icon': '02n',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 360, 'speed': 0.51}}

In [14]:
response['main']

{'temp': 14.87,
 'feels_like': 14.16,
 'temp_min': 14.87,
 'temp_max': 14.87,
 'pressure': 1019,
 'humidity': 67}

In [15]:
cities_df['Temperature (F)'] = ""
cities_df['Humidity (%)'] = ""
cities_df['Cloudiness (%)'] = ""
cities_df['Wind Speed (mph)'] = ""
cities_df

,Lat,Lng,Nearest City,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,-24.578000,142.601443,mount isa,,,,
1,19.446594,-158.168418,ewa beach,,,,
2,-43.528448,25.389972,kruisfontein,,,,
3,13.503747,36.253929,doka,,,,
4,-75.605598,25.184647,bredasdorp,,,,
...,...,...,...,...,...,...,...
545,-28.928289,-102.223841,lebu,,,,
546,52.115525,86.062276,mayma,,,,
547,-38.868800,-104.032998,ancud,,,,
548,-20.351985,155.388321,yeppoon,,,,
549,-17.408570,-56.198094,barao de melgaco,,,,

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [16]:
url = "http://api.openweathermap.org/data/2.5/weather?q="

units = 'imperial'


for index, row in cities_df.iterrows():
    query_url = f"{url}{row['Nearest City']}&appid={weather_api_key}&units={units}"
    response = requests.get(query_url).json()
    
    try:
        cities_df.loc[index, 'Temperatue (F)'] = response['main']['temp']
        cities_df.loc[index, 'Humidity (%)'] = response['main']['humidity']
        cities_df.loc[index, 'Cloudiness (%)'] = response['clouds']['all']
        cities_df.loc[index, 'Wind Speed (mph)'] = response['wind']['speed']
    except (KeyError, IndexError):
        print(f"Missing City records for {index} : {row['Nearest City']} ... skipping.")
        
        
#     print(f" requesting response for {index}:{row['Nearest City']}")

Missing City records for 15 : kuche ... skipping.
Missing City records for 19 : tome-acu ... skipping.
Missing City records for 30 : amderma ... skipping.
Missing City records for 46 : barentsburg ... skipping.
Missing City records for 47 : tabiauea ... skipping.
Missing City records for 67 : tumannyy ... skipping.
Missing City records for 104 : taolanaro ... skipping.
Missing City records for 107 : barentsburg ... skipping.
Missing City records for 132 : belushya guba ... skipping.
Missing City records for 170 : belushya guba ... skipping.
Missing City records for 178 : mys shmidta ... skipping.
Missing City records for 227 : taolanaro ... skipping.
Missing City records for 266 : taolanaro ... skipping.
Missing City records for 270 : rawannawi ... skipping.
Missing City records for 276 : barentsburg ... skipping.
Missing City records for 287 : yurya ... skipping.
Missing City records for 310 : karkaralinsk ... skipping.
Missing City records for 313 : bolungarvik ... skipping.
Missing City records for 331 : falealupo ... skipping.
Missing City records for 334 : toliary ... skipping.
Missing City records for 337 : ambodifototra ... skipping.
Missing City records for 394 : taolanaro ... skipping.
Missing City records for 397 : okandja ... skipping.
Missing City records for 398 : barentsburg ... skipping.
Missing City records for 457 : barentsburg ... skipping.
Missing City records for 459 : illoqqortoormiut ... skipping.
Missing City records for 462 : belushya guba ... skipping.
Missing City records for 479 : saleaula ... skipping.
Missing City records for 512 : vaitupu ... skipping.

In [17]:
cities_df.head(50)

,Lat,Lng,Nearest City,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Temperatue (F)
0,-24.578000,142.601443,mount isa,,67,21,1.14,58.77
1,19.446594,-158.168418,ewa beach,,65,90,4,80.80
2,-43.528448,25.389972,kruisfontein,,62,97,5.53,63.88
3,13.503747,36.253929,doka,,13,5,6.24,90.63
4,-75.605598,25.184647,bredasdorp,,89,100,3.78,54.72
5,7.730516,144.893281,lorengau,,81,100,13.67,82.08
6,-35.140709,-157.959456,avarua,,89,75,11.5,82.45
7,-1.203684,86.061365,hambantota,,87,100,21.83,80.11
8,-73.197300,-47.735299,ushuaia,,80,90,20.71,33.46
9,15.591512,155.460579,kavieng,,78,98,6.91,81.63
10,25.059397,26.079919,asyut,,23,0,8.48,80.78
11,-73.684129,92.508922,busselton,,72,100,5.37,48.04
12,-33.295738,87.320891,carnarvon,,100,0,8.05,51.87
13,60.497102,-64.939197,iqaluit,,53,40,5.01,22.69
14,-65.056367,-110.973860,punta arenas,,71,40,24.25,33.53
15,39.945608,84.420586,kuche,,,,,NaN
16,-38.687108,-19.472329,jamestown,,59,90,5.99,73.92
17,-43.915691,-27.486373,arraial do cabo,,60,75,8.05,73.26
18,53.199749,-137.509896,sitka,,76,98,3.38,49.33
19,-2.580503,-48.562357,tome-acu,,,,,NaN
20,78.946613,-146.827831,barrow,,91,99,10.78,31.35
21,-73.843094,-163.560449,mataura,,93,6,3.04,32.25
22,64.302468,73.880735,muravlenko,,50,100,8.63,41.32
23,19.041975,42.164465,abha,,35,20,2.82,68.25
24,33.964282,-154.814137,kapaa,,68,70,1.01,81.45
25,-43.644763,-151.988911,mataura,,93,6,3.04,32.25
26,21.701232,68.250072,dwarka,,77,6,15.12,83.08
27,-16.194088,-54.276700,rondonopolis,,55,93,6.89,81.61
28,-81.422690,140.978844,hobart,,86,75,4,50.47
29,-77.589510,-65.712334,ushuaia,,80,90,20.71,33.46
30,84.284327,66.974805,amderma,,,,,NaN
31,-59.328110,-4.763954,cape town,,83,40,1.01,59.86
32,-80.866916,4.498218,hermanus,,81,50,6.06,59.90
33,74.845769,-148.688007,barrow,,91,99,10.78,31.35
34,20.955039,-1.251784,tessalit,,11,83,3.11,100.85
35,-20.850719,-60.103670,mayor pablo lagerenza,,33,99,3.89,67.86
36,42.058095,-135.162811,north bend,,67,90,10.36,61.54
37,-48.024324,156.530348,hobart,,86,75,4,50.47
38,-11.139140,16.171040,kibala,,35,62,3.78,87.57
39,-64.935996,-92.426577,punta arenas,,71,40,24.25,33.53
40,15.075069,-157.762122,hilo,,76,11,8.99,80.94
41,-7.654401,-108.344683,puerto ayora,,87,56,11.01,75.54
42,-6.538981,41.407025,sokoni,,68,52,16.71,73.69
43,48.011801,3.289402,joigny,,87,98,17.43,46.80
44,-16.921102,-82.540500,pisco,,73,40,10.36,69.85
45,70.188613,-13.546137,husavik,,72,89,9.91,44.51
46,74.909547,7.778887,barentsburg,,,,,NaN
47,-0.006951,169.103879,tabiauea,,,,,NaN
48,-84.849891,-52.677120,ushuaia,,80,90,20.71,33.46
49,-53.076583,98.839176,busselton,,72,100,5.37,48.04

In [18]:
cities_df[cities_df['Nearest City'].duplicated()]

,Lat,Lng,Nearest City,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Temperatue (F)
25,-43.644763,-151.988911,mataura,,93,6,3.04,32.25
29,-77.589510,-65.712334,ushuaia,,80,90,20.71,33.46
33,74.845769,-148.688007,barrow,,91,99,10.78,31.35
37,-48.024324,156.530348,hobart,,86,75,4,50.47
39,-64.935996,-92.426577,punta arenas,,71,40,24.25,33.53
...,...,...,...,...,...,...,...,...
537,71.115679,-152.418039,barrow,,91,99,10.78,31.35
538,-16.398778,-5.979328,jamestown,,59,90,5.99,73.92
540,66.399942,-91.454526,thompson,,93,90,4.61,50.16
544,-89.383245,104.187315,albany,,36,33,3.38,71.49
545,-28.928289,-102.223841,lebu,,90,82,6.49,56.52

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [19]:
#  Get the indices of cities that have humidity over 100%.

In [20]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression